DATABASE_URL=
# postgresql://postgres:user@pass:5432/db

BACKEND_URL=https://farm-inn-banner-opportunity.trycloudflare.com

INTERNAL_API_KEY=ill-think-something-harder-for-key-later

WAF=
# buat cloudflared